# ethan's clang format
# actually codes in my style LOL
# well somewhat
---
BasedOnStyle: Google
IndentWidth: 4
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
BreakStringLiterals: true
ReflowComments: true
ContinuationIndentWidth: 4
ColumnLimit: 80
AlignAfterOpenBracket: DontAlign
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 2
AlignOperands: Align
PenaltyBreakAssignment: 50
PenaltyBreakOpenParenthesis: 50
---
